nav
  >div
    height: 100%
    display: flex
    overflow: hidden
    .logo
      width: 60px
      height: 100%
      display: flex
      justify-content: center
      align-items: center
      overflow: hidden
      *
        width: 60px
        height: 100%
        display: flex
        justify-content: center
        align-items: center